@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/ptsans-400.woff2) format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/ptsans-700.woff2) format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  min-height: 100vh;
  background: #F2F2F2;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link {
  text-decoration: none;
  color: #000000;
}

.title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.button {
  display: inline-block;
  padding: 8px 50px;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #615048;
  outline: none;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
  outline: none;
}

.description {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
}

.main-header-logo-link {
  margin-bottom: -10px;
  margin-right: 28px;
  z-index: 1;
}

.main-nav {
  display: flex;
  flex-grow: 1;
}

.main-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-link {
  display: block;
  padding: 20px 16px;
}

.user-nav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 0 auto;
}

.hero-block {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.hero-block-banner {
  background-color: #4089B9;
  background-image: url("images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-block-text {
  display: block;
  margin: 0 auto;
}

.advantages {
  width: 1200px;
  margin: 0 auto;
  padding-top: 69px;
  background-color: #FFFFFF;
}

.sedona-title {
  margin-bottom: 25px;
}

.sedona-description {
  display: block;
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  padding: 113px 85px;
}

.advantages-title {
  position: relative;
  padding-bottom: 30px;
}

.advantages-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.30);
}

.advantages-item-1 .advantages-title::after,
.advantages-item-5 .advantages-title::after {
  background: rgba(255, 255, 255, 0.30);
}

.advantages-item-1 .advantages-title,
.advantages-item-5 .advantages-title {
  color: #FFFFFF;
}

.advantages-item-1 .advantages-description,
.advantages-item-5 .advantages-description {
  color: #FFFFFF;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-3 {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item-1,
.advantages-item-5 {
  display: flex;
  flex-shrink: 0;
  padding: 0;
  width: auto;
  background-color: #82B3D3;
}

.advantages-item-5 {
  flex-direction: row-reverse;
}

.advantages-item-wrapper {
  width: 400px;
  padding: 103px 85px;
}

.features {
  width: 1200px;
  margin: 0 auto;
}

.agreement-button,
.fav-card-button,
.newsletter-button {
  background-color: #82B3D3;
}

.button-selected {
  background-color: #7DB54F;
}

.reset-button {
  background-color: transparent;
}

.newsletter-button,
.cta-button {
  font-size: 20px;
  line-height: 36px;
}

.header-3 {
  margin: 0 0 30px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;

}

.text {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}

.features {
  padding-top: 64px;
  background-color: #FFFFFF;
}

.features-list-title {
  margin-bottom: 20px;
}

.features-list-description {
  margin: 0 0 64px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features-item {
  position: relative;
  width: 400px;
  padding: 182px 85px 80px;
}

.features-item::after {
  content: '';
  width: 75px;
  height: 77px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-position: center center;
  background-repeat: no-repeat;
}

.living::after {
  background-image: url("/images/living.svg");
}

.food::after {
  background-image: url("/images/food.svg");
}

.gifts::after {
  background-image: url("/images/gifts.svg");
}

.features-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item:nth-of-type(even) {
  background-color: #FFFFFF;
}

.ctablock {
  width: 1200px;
  margin: 0 auto;
  padding: 96px 304px;
  background-color: #FFFFFF;
}

.ctablock-title {
  margin-bottom: 20px;
}

.ctablock-description {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.cta-button {
  display: block;
  margin: 55px auto 0;
  width: fit-content;
}

.newsletter {
  width: 1200px;
  margin: 0 auto;
  padding: 96px 258px 104px;
  background-color: #FFFFFF;
}

.newsletter-main {
  background-color: #FFFFFF;
  background-image: url("images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-inner .newsletter-title,
.newsletter-inner .newsletter-description {
  color: #000000;
}

.newsletter-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.newsletter-description {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0 0 56px;
}

.newsletter-form {
  display: flex;
}

.field {
  font-family: 'PT Sans', sans-serif;
  width: 452px;
  padding: 12px 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  background-color: #FFFFFF;
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter-inner .field {
  background-color: #F2F2F2;
}

.newsletter-button {
  border-radius: 0 4px 4px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 40px 70px 30px;
  margin: auto auto 0;
  background-color: #FFFFFF;
  align-items: center;
}

.footer-contacts {
  padding: 5px;
}

.social-media-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.social-media-item-link {
  color: #83B3D3;
}

.social-media-item-link:hover,
.social-media-item-link:focus {
  outline: none;
  color: #68A2CA;
}

.social-media-item-link:active {
  outline: none;
  color: #68A2CA;
  opacity: 0.3;
}

.phone {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.phone:hover,
.phone:focus {
  outline: none;
  color: #756157;
}

.phone:active {
  outline: none;
  color: #756157;
  opacity: 0.3;
}

.copyright:hover,
.copyright:focus {
  outline: none;
  color: #756157;
}

.copyright:active {
  outline: none;
  color: #756157;
  opacity: 0.3;
}

.list {
  list-style-type: none;
}

.catalog-hotels-founded {
  margin: 0 auto;
  padding: 50px 70px 60px;
  width: 1200px;
  background-color: #FFFFFF;
}

.result-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.filter-wrapper {
  display: flex;
  gap: 70px;
}

.select-control {
  width: 292px;
  padding: 14px 20px;
  border-radius: 4px;
  border: none;
  outline: 2px solid #E5E5E5;
  appearance: none;
  background-image: url('/images/select-arrow.svg');
  background-position: 258px center;
  background-repeat: no-repeat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  outline-offset: -2px;
  font-family: 'PT Sans', sans-serif;
}

.select-control:hover,
.select-control:focus {
  outline: 2px solid #68A2CA;
}

.select-control:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.30);
  color: rgba(0, 0, 0, 0.30);
  background-image: url('/images/select-arrow-disabled.svg');
}

.searching-section {
  background-color: #756157;
  background-image: url("images/catalog-filter-background.jpg");
  background-size: cover;
  width: 1200px;
  margin: 0 auto;
  padding: 35px 70px 70px;
}

.view-mode {
  display: flex;
  gap: 8px;
}

.view-button {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  outline: 2px solid #E5E5E5;
  background-color: #FFFFFF;
  background-position: center center;
  background-repeat: no-repeat;
  outline-offset: -2px;
}

.view-button:focus {
  outline-color: #68A2CA;
}

.view-button.active,
.view-button:active,
.view-button:hover {
  outline-color: #000000;
}

.grid-mode {
  background-image: url("/images/grid-mode.svg");
}

.card-mode {
  background-image: url("/images/card-mode.svg");
}

.list-mode {
  background-image: url("/images/list-mode.svg");
}

.hotel-search-title {
  margin: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
}

.hotels-filter {
  display: flex;
}

.hotels-filter-group {
  margin: 0 70px 0 0;
  padding: 0;
  border: none;
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.price {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.pricechoise {
  display: flex;
  gap: 2px;
}

.range-wrapper {
  position: relative;
}

.hotelstype-filter-group {
  min-width: 150px;
}

.range-label {
  position: absolute;
  right: 20px;
  top: 12px;
}

.range-input {
  width: 143px;
  padding: 12px 20px;
  border: none;
  outline: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  background-color: #E6E6E6;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.button-set {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

label {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
}

.hotels-filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px;
  padding: 0 0 40px;
  gap: 20px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card {
  width: 340px;
  padding: 20px;
  outline: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px 20px;
}

.hotel-card-image {
  display: block;
  width: 100%;
  height: auto;
}

.hotel-card-link {
  grid-column: 1/3;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.hotel-card-type {
  grid-column: 1/2;
}

.hotel-card-price {
  grid-column: 2/3;
  text-align: right;
}

.card-button {
  padding: 8px 10px;
}

.more-card-button {
  grid-column: 1/2;
}

.fav-card-button {
  grid-column: 2/3;
}

.hotel-level-stars {
  position: relative;
  grid-column: 1/2;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  min-height: 20px;
}

.hotel-level-stars::before {
  content: "";
  height: 18px;
  width: 24px;
  background: url("/images/star.svg") left center repeat-x;
}

.hotel-level-stars-1::before {
  width: 24px;
}

.hotel-level-stars-2::before {
  width: 48px;
}

.hotel-level-stars-3::before {
  width: 72px;
}

.hotel-level-stars-4::before {
  width: 96px;
}

.hotel-level-stars-5::before {
  width: 120px;
}

.hotel-level-star {
  display: block;
  height: 17px;
  width: 18px;
  background: url("/images/star.svg") center center no-repeat;
}

.hotel-rating {
  grid-column: 2/3;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  padding: 8px 10px;
  border-radius: 4px;
}

.pagination {
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  min-width: 60px;
  height: 60px;
  padding: 0 10px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
  outline: none;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-range,
.pagination-link-range:hover,
.pagination-link-range:focus,
.pagination-link-range:active {
  color: #000000;
  background-color: transparent;
}


.hotels-page-title {
  margin: 0 0 8px;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
}

.range-label {
  color: #000000;
  opacity: 0.3;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}


.main-nav-list-item {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(242, 242, 242, 0.80);
}


.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 717px;
  padding: 64px 70px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.modal-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
}

.modal-title {
  text-align: left;
  margin-bottom: 64px;
}

.modal-form-button-close {
  padding: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 64px;
  right: 52px;
}

.modal-form-button-close:hover {
  background-color: #E6E6E6;
}

.modal-form-button-close:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-form-button-close:active {
  opacity: 0.3;
  outline: none;
}

.modal-form-label {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.message {
  position: absolute;
  top: 52px;
  left: 157px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
  color: #333333;
}

.error-message {
  color: #FF5757;
}

.modal-form-input {
  margin-left: 24px;
  flex-grow: 1;
  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  color: #000000;
  padding: 12px 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.modal-form-input:hover,
.modal-form-input:focus,
.field:hover,
.field:focus {
  background-color: #E6E6E6;
}

.modal-form-input:focus,
.field:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.arrival-label,
.departure-label {
  position: relative;
}

.arrival-label::before,
.departure-label::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 14px;
  width: 20px;
  height: 20px;
  background-image: url("/images/date.svg");
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.modal-form-button-submit {
  padding: 18px 77px;
  width: 100%;
  background-color: #83B3D3;
  border-radius: 10px;
}

.modal-form-button-submit:hover,
.modal-form-button-submit:focus,
.newsletter-button:hover,
.newsletter-button:focus,
.agreement-button:hover,
.agreement-button:focus,
.fav-card-button:hover,
.fav-card-button:focus {
  background-color: #68A2CA;
}

.modal-form-button-submit:active,
.newsletter-button:active,
.agreement-button:active,
.fav-card-button:active {
  background-color: #82B3D3;
  outline: none;
}

.button-selected:hover,
.button-selected:focus {
  background-color: #6C9E42;
  outline: none;
}

.button-selected:active {
  background-color: #7DB54F;
  outline: none;
}

.reset-button:hover {
  opacity: 0.6;
  background-color: transparent;
  outline: none;
}

.reset-button:focus {
  opacity: 0.6;
  background-color: transparent;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.reset-button:active {
  opacity: 0.3;
  outline: none;
}

.reset-button:disabled {
  opacity: 0.1;
  outline: none;
}

.person {
  display: flex;
  justify-content: space-between;
}

.person-input {
  margin: 0;
  width: 40px;
  padding: 14px 10px;
  text-align: center;
  border-radius: unset;
}

.person-input-button:hover {
  color: #000000;
}

.person-input-button:focus svg {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.person-input-button:focus {
  outline: none;
}

.person-input-button:active svg {
  outline: none;
}

.person-input-wrapper {
  display: flex;
}

.person-input-button {
  display: block;
  padding: 14px 10px;
  border: none;
  background-color: #F2F2F2;
  color: #7561574D;
}

.person-input-less {
  border-radius: 4px 0 0 4px;
}

.person-input-more {
  border-radius: 0 4px 4px 0;
}

.popover-wrapper {
  display: flex;
}

.popover {
  position: relative;
  width: fit-content;
  margin-left: 10px;
}

.popover-button {
  display: block;
  width: 26px;
  height: 26px;
  padding: 0;
  border: none;
  background: transparent;
  tab-index: 0;
}

.popover-button:focus {
  outline: none;
}

.popover-content {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 18px 18px 22px;
  width: 256px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 10px;
  transition: all 0.3s;
  text-transform: none;
}

.popover-content:before {
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 19px;
  height: 9px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='9' viewBox='0 0 19 9' fill='none'%3E%3Cg clip-path='url(%23clip0_91453_492)'%3E%3Cpath d='M9.5 0L19 9H0L9.5 0Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_91453_492'%3E%3Crect width='19' height='9' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.popover:hover .popover-content,
.popover-button:active ~ .popover-content {
  opacity: 1;
  z-index: 1;
}

.nav-link.active {
  position: relative;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  height: 2px;
  background: #756257;
}

.user-nav-button {
  display: flex;
  padding: 22px 12px;
  justify-content: center;
  align-items: center;
}

.nav-button {
  margin-left: 20px;
  padding: 8px 12px;
  min-width: 160px;
  min-height: 36px;
}

.fav-link {
  position: relative;
}

.fav-link-counter {
  position: absolute;
  top: 11px;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}

.control {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}

.checkbox,
.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox-label:before {
  content: "";
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #FFFFFF;
}

.checkbox:checked ~ .checkbox-label:before {
  background: #FFFFFF url("/images/tick.svg") center center no-repeat;
}

.checkbox:checked ~ .checkbox-label:hover:before {
  opacity: 0.6;
}

.checkbox:checked ~ .checkbox-label:active:before {
  opacity: 0.3;
}

.checkbox:checked ~ .checkbox-label:hover {
  opacity: 0.6;
}

.checkbox:checked ~ .checkbox-label:active {
  opacity: 0.3;
}

.checkbox ~ .checkbox-label:hover:before {
  opacity: 0.6;
}

.checkbox ~ .checkbox-label:active:before {
  opacity: 0.3;
}

.checkbox ~ .checkbox-label:hover {
  opacity: 0.6;
}

.checkbox ~ .checkbox-label:active {
  opacity: 0.3;
}

.checkbox:focus ~ .checkbox-label:before {
  outline: 3px solid #83B3D3;
}


.radio-label:before {
  content: "";
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #FFFFFF;
}

.radio:checked ~ .radio-label:before {
  background: #FFFFFF url("/images/dot.svg") center center no-repeat;
}

.radio:checked ~ .radio-label:hover:before {
  opacity: 0.6;
}

.radio:checked ~ .radio-label:active:before {
  opacity: 0.3;
}

.radio:checked ~ .radio-label:hover {
  opacity: 0.6;
}

.radio:checked ~ .radio-label:active {
  opacity: 0.3;
}

.radio ~ .radio-label:hover:before {
  opacity: 0.6;
}

.radio ~ .radio-label:active:before {
  opacity: 0.3;
}

.radio ~ .radio-label:hover {
  opacity: 0.6;
}

.radio ~ .radio-label:active {
  opacity: 0.3;
}

.radio:focus ~ .radio-label:before {
  outline: 3px solid #83B3D3;
}

.input-slider-wrapper {
  margin-top: 36px;
  position: relative;
  padding: 8px 0;
  height: 20px;
}

.input-slider-total-range {
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.input-slider-current-range {
  width: 226px;
  height: 4px;
  background-color: #FFFFFF;
}

.input-slider-value {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.input-slider-value:focus {
  outline: 3px solid #83B3D3;
}

.input-slider-value:active {
  outline: 2px solid #83B3D3;
}

.input-slider-max-value {
  left: 206px;
}

.breadcrumbs-section {
  margin-bottom: 40px;
}

.breadcrumbs-item:not(:first-of-type)::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 10px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='11' viewBox='0 0 8 11' fill='none'%3E%3Cpath d='M6.91526 4.96875L2.16526 0.71875C1.91526 0.46875 1.41526 0.46875 1.04026 0.71875C0.665263 0.96875 0.790263 1.46875 1.04026 1.71875L5.16526 5.46875L1.16526 9.21875C0.915263 9.46875 0.915263 9.96875 1.16526 10.2188C1.16526 10.3438 1.54026 10.4688 1.66526 10.4688C1.79026 10.4688 2.04026 10.3438 2.16526 10.2188L6.91526 5.96875C7.29026 5.71875 7.29026 5.21875 6.91526 4.96875Z' fill='white'/%3E%3C/svg%3E");
}

.breadcrumbs-link:hover {
  opacity: 0.6;
  outline: none;
}

.breadcrumbs-link:focus {
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.3;
  outline: none;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}
